@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6 - lfan22</h1>
    <p class="lead">This app has been enhanced from the previous version. It now supports security concepts, richer data such as rich text and media files.</p>
    <p><a href="https://lfan-wa-web524-a6.azurewebsites.net" class="btn btn-primary btn-lg">Assignment 6 on Azure &raquo;</a></p>
</div>
